
<div class="academia-card-header flex w-full align-items-center justify-content-between px-3">
<p class="academia-titulo">Nome Academia</p>
<p-button icon="pi pi-pencil" [rounded]="true" severity="warning" />
</div>
<div class="placeholder-container-block flex w-full gap-7 ">
    <div class="placeholder-container flex flex-column gap-3 px-3 w-6">
        <div class="flex flex-column gap-2">
            <label for="username">CNPJ</label>
            <input 
                pInputText 
                 />
        </div>

        <div class="flex flex-column gap-2">
            <label for="username">Email</label>
            <input 
                pInputText />
        </div>
    </div>
    <div class="placeholder-container flex flex-column gap-3 px-3 w-6">
        <div class="flex flex-column gap-2">
            <label for="username">Lotação Média</label>
            <input 
                pInputText 
                 />
        </div>

        <div class="flex flex-column gap-2">
            <label for="username">Quantidade de Sedes</label>
            <input 
                pInputText />
        </div>
    </div>
</div>