.academia-titulo {
    font-family: 'Arial', sans-serif;
    font-size: 36px; 
    font-weight: bold; 
    color: #333; 
    text-align: center; 
    text-transform: uppercase;
    letter-spacing: 2px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.placeholder-container  {
    width: 50%;
}

@media (max-width: 600px) {
    .placeholder-container  {
        min-width: 50%;
        width: auto;
    }
    .placeholder-container-block {
        flex-direction: column;
    }
}