.academia-titulo {
    font-family: 'Arial', sans-serif; /* Define a fonte */
    font-size: 36px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    color: #333; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    text-transform: uppercase; /* Deixa o texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre as letras */
    margin-top: 20px; /* Espaçamento superior */
    margin-bottom: 20px; /* Espaçamento inferior */
}