.home-page {
    .AcademiaInfoContainer {
      .card-container {
        display: flex;
        flex-direction: column;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 1200px;
      }
  
      .content-wrapper {
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
    }
  }

<<<<<<< HEAD
  app-academias-listagem {
    min-width: 340px;
  }

=======
>>>>>>> 3b155ec4b0422afc3b225604d56f7e23c801bc05
  @media (max-width: 1250px) {
    .content-wrapper {
        flex-direction: column-reverse !important;
    }
  }
<<<<<<< HEAD

  @media (max-width: 425px) {
    app-academias-listagem {
      min-width: 210px;
    }
  
  }
=======
>>>>>>> 3b155ec4b0422afc3b225604d56f7e23c801bc05
  