<div class="gym-page w-full flex flex-column gap-7">

<div class="flex flex-column w-full h-full align-items-center justify-content-center">
    <div class="academia-infos-card flex flex-column">
        <div class="academia-infos flex flex-column align-items-center w-full h-full p-3 gap-5">
        <app-gym-infos class="flex flex-column align-items-center w-full"></app-gym-infos>
        <div class="listagem-academias-sedes w-full h-full border-round-sm" style="overflow-y: auto; max-height: 400px;">
            <app-gym-sedes-list></app-gym-sedes-list>
        </div>
    </div>
</div>

</div>

</div>