.nome_academia {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }

  .nome_academia h1 {
    text-align: center;
  }

  .nome_academia div {
    margin-bottom: 10px;
  }

  .nome_academia label {
    display: block;
    margin-bottom: 5px;
  }

  .nome_academia input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }