.map-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: auto;
  padding: 0;
}

.map-frame {
  flex: 1;
  width: 100%;
  outline: 1px solid black;
}

#map {
  height: 100%;
  width: 100%;
}

@media (max-width: 425px) {
  .map-container {
    height: 345px;
  }
}
@media (max-width: 768px) {
  .map-container {
    height: 50vh;
  }
}
@media (min-width: 1250px) {
  .map-frame {
    width: 800px !important;
  }
}


.leaflet-popup-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

.leaflet-popup-content h3 {
  margin: 0;
  font-size: 16px;
  color: #007BFF;
}

.leaflet-popup-content button {
  padding: 5px 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.leaflet-popup-content button:hover {
  background-color: #0056b3;
}
