<div class="academia-edit-container flex flex-column gap-4" [formGroup]="sedeForm">
    <div class="academia-edit-header flex justify-content-between align-items-center gap-3">
      <h2>Editar Informações da Academia</h2>
      <p-button icon="pi pi-save" label="Salvar" (onClick)="updateSede()" severity="success"></p-button>
    </div>
  
    <div class="academia-edit-body justify-content-around align-items-center flex gap-4">
      <div class="academia-edit-form flex flex-column gap-3">
        
        <div class="form-group">
          <label for="nome_fantasia">Nome</label>
          <input id="nome_fantasia" formControlName="nome_fantasia" pInputText placeholder="Digite o Nome" />
        </div>
  
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" formControlName="email" pInputText placeholder="Digite o Email" />
        </div>
  
        <div class="form-group">
          <label for="telefone">Telefone</label>
          <p-inputMask formControlName="telefone" mask="(99)99999-9999" placeholder="Digite seu telefone" id="telefone"></p-inputMask>
        </div>
  
      </div>
    </div>
  </div>
  