.academia-edit-container {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .academia-edit-header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
  }

  .academia-edit-body {
    margin-top: 1rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .academia-sedes-container {
    display: flex;
    align-items: center;
  }

  @media (max-width: 900px) {
    .academia-edit-body {
      flex-direction: column;
    }
  }

  @media (max-width: 700px) {
    .academia-edit-header {
      flex-direction: column;
      gap: 1rem;
    }
  }

  @media (max-width: 600px) {
    ::ng-deep .p-dynamic-dialog {
        width: auto;
        max-width: 1200px;
    }
  }

