<p class="academia-titulo mb-5">Nome Academia</p>
<div class="placeholder-container-block flex w-full gap-7 ">
    <div class="placeholder-container flex flex-column gap-3 px-3 w-6">

               <div class="flex flex-column gap-2">
            <label for="username">CNPJ</label>
            <input 
                pInputText 
                 />
        </div>

        <div class="flex flex-column gap-2">
            <label for="username">Email</label>
            <input 
                pInputText />
        </div>
    </div>
    <div class="placeholder-container flex flex-column gap-3 px-3 w-6">
        <div class="flex flex-column gap-2">
            <label for="username">Lotação Média</label>
            <input 
                pInputText 
                 />
        </div>

        <div class="flex flex-column gap-2">
            <label for="username">Quantidade de Sedes</label>
            <input 
                pInputText />
        </div>
    </div>
    <div><button>salvar</button></div>
</div>